Repository morib-in/Morib-Client, pull requests merged in 2024-07, with the labels that each got.

#3 [ Fix ] prettier 플러그인 적용안됨 오류 + ISSUE/PR 템플릿 title 이모지 삭제
  .github/ISSUE_TEMPLATE/bug_report.md
  .prettierrc
Labels: 🐞 BugFix, 🪡 Init

#6 [ Fix ] 이슈 템플릿 이모지 제거
  .github/ISSUE_TEMPLATE/issue_template.md
Labels: 🐞 BugFix, 🪡 Init

#9 [ Init ] jotai 설정
  src/App.tsx
Labels: 🪡 Init

#10 [ docs ] README 수정
  README.md
Labels: 📃 Docs

#11 [ Init ] tailwind 기본 설정
  src/index.css
  tailwind.config.js
Labels: 🪡 Init

#13 [ Init ] axios instance 생성 및 리액트 쿼리 초기 세팅
  src/App.tsx
  src/Router.tsx
  src/apis/client.ts
  src/hocs/withAuthProtection.tsx
  src/mocks/userData.ts
  src/utils/token/index.ts
Labels: 🪡 Init

#15 [ Feat ] theme 변경사항 추가
  src/index.css
  tailwind.config.js
Labels: ✨ Feature

#17 [ Style ] 홈 화면 페이지 + 타이머 페이지 사이드바 공통 컴포넌트 구현
  postcss.config.js
  src/App.tsx
  src/components/atoms/SideBox/index.tsx
Labels: 🎨 Style

#23 [ Style ] 카테고리 모달 버튼 공통 컴포넌트 구현
  src/components/atoms/CategoryCommonBtn/index.tsx
  src/pages/LoginPage/index.tsx
Labels: 🎨 Style

#27 [ Style ] 모달 상단 타이틀을 공통 컴포넌트로 구현
  src/components/atoms/CategoryCommonTitle/index.tsx
Labels: 🎨 Style

#33 [ Style ] 다른 카테고리에서 모립세트를 불러오는 드롭다운 구현
  src/assets/svgs/disabled_dropdown.svg
  src/assets/svgs/dropIcon.svg
  src/assets/svgs/upIcon.svg
  src/components/atoms/CategoryDropdownBtn/index.tsx
  src/components/atoms/DropdownOptionsBtn/index.tsx
  src/components/molecules/CategoryDropdown/index.tsx
  src/mocks/categoryData.ts
  src/pages/LoginPage/index.tsx
Labels: 🎨 Style

#29 [ Style ] 타이머 뷰 타이머 컴포넌트 구현
  src/assets/svgs/defaultpause.svg
  src/assets/svgs/defaultplay.svg
  src/assets/svgs/elipse.svg
  src/assets/svgs/hoverpause.svg
  src/assets/svgs/hoverplay.svg
  src/components/atoms/AccumulatedTime/index.tsx
  src/components/atoms/PlayBtn/index.tsx
  src/components/atoms/ProgressCircle/index.tsx
  src/components/atoms/TaskTime/index.tsx
  src/components/atoms/test
  src/components/molecules/Timer/index.tsx
  src/hooks/useTimerCount.ts
  src/pages/TimerPage/index.tsx
Labels: 🎨 Style

#40 [ Style ] 타이머 뷰 친구 더미 캐러셀 구현
  src/assets/images/profile_image1.png
  src/assets/images/profile_image2.png
  src/assets/images/profile_image3.png
  src/assets/images/profile_image4.png
  src/assets/svgs/icon_clock.svg
  src/components/atoms/FriendInfo/index.tsx
  src/components/molecules/FriendInfoCarousel/index.tsx
  src/hooks/ useFriendInfoCarousel.ts
  src/mocks/userFriendData.ts
  src/pages/LoginPage/index.tsx
  src/pages/TimerPage/index.tsx
  src/utils/time/index.ts
Labels: 🎨 Style

#43 [ Style ] 홈 뷰의 카테고리/할일 박스, 토글 뷰 구현 #36
  src/assets/svgs/btn_cal.svg
  src/assets/svgs/btn_task_add.svg
  src/assets/svgs/check_box_blank.svg
  src/assets/svgs/check_box_fill.svg
  src/assets/svgs/mingcute_time-fill.svg
  src/assets/svgs/mingcute_time-line.svg
  src/assets/svgs/todo_meatball_default.svg
  src/assets/svgs/todo_meatball_press.svg
  src/assets/svgs/todo_toggle.svg
  src/components/atoms/TodoBox/index.tsx
  src/components/atoms/TodoTitle/index.tsx
  src/components/atoms/TodoToggleBtn/index.tsx
  src/components/molecules/CategoryBox/index.tsx
  src/mocks/homeData.ts
  src/pages/LoginPage/index.tsx
  src/utils/time/index.ts
Labels: 🎨 Style

#48 [ Fix ] 불필요한 파일 삭제 + SVG btn 적용 + util 함수 정리
  src/components/atoms/TaskTime/index.tsx
  src/components/atoms/TodoBox/index.tsx
  src/components/atoms/test
  src/components/molecules/CategoryBox/index.tsx
  src/pages/LoginPage/index.tsx
  src/utils/time/index.ts
Labels: 🐞 BugFix

#31 [ Style ] 카테고리 공통 컴포넌트 구현
  src/assets/svgs/ic_description.svg
  src/components/atoms/CategoryInputTitle/index.tsx
  src/components/atoms/CategoryMoribContent/index.tsx
  src/components/atoms/CategoryUrlInput/index.tsx
  src/components/molecules/CategoryMoribContentSet/index.tsx
  src/mocks/urlData.ts
  src/utils/isUrlValid/index.ts
Labels: 🎨 Style

#39 [ Style ] 카테고리 생성 기본 뷰 구현
  src/assets/svgs/arrow_circle_up_right.svg
  src/components/atoms/CategoryInput/index.tsx
  src/components/atoms/CategoryToggle/index.tsx
  src/components/atoms/GetCategoryBtn/index.tsx
Labels: 🎨 Style

#52 [ Chore ] tailwind 설정 수정
  src/index.css
  tailwind.config.js
Labels: 🎨 Style

#56 [ Style ] CategoryModalRight의 header title 컴포넌트 생성
  src/components/atoms/CategoryModalRightTitle/index.tsx
  src/pages/LoginPage/index.tsx
Labels: 🎨 Style

#53 [ Style ] 타이머 뷰 햄버거 사이드 바 구현
  src/assets/svgs/btn_list.svg
  src/components/atoms/TimerTodayTodoBtn/index.tsx
  src/components/molecules/TimerSideBar/index.tsx
  src/pages/TimerPage/index.tsx
Labels: 🎨 Style

#59 [ Style ] 타이머 뷰 사이드 박스 컴포넌트 구현
  src/assets/svgs/btn_add.svg
  src/components/atoms/SideBox/index.tsx
  src/components/atoms/TimerFavicon/index.tsx
  src/components/molecules/TimerSIdeBox/index.tsx
  src/mocks/faviconData.ts
Labels: 🎨 Style

#57 [ Style ] 카테고리 불러오기 모달 오른쪽 layout 구현
  src/assets/svgs/minus_btn.svg
  src/components/atoms/CategoryModalRightTitle/index.tsx
  src/components/molecules/CategoryModalRight/index.tsx
  src/components/molecules/CategoryMoribContentSet/index.tsx
  src/pages/LoginPage/index.tsx
Labels: 🎨 Style

#67 [ Style ] 빠른 불러오기 버튼 클릭시 뜨는 카테고리 추가 Modal 템플릿 생성
  src/assets/svgs/minus_btn.svg
  src/components/atoms/CategoryMoribContent/index.tsx
  src/components/atoms/CategoryUrlInput/index.tsx
  src/components/molecules/CategoryModalLeft/index.tsx
  src/components/molecules/CategoryModalRight/index.tsx
  src/components/templates/AddCategoryListModal/index.tsx
  src/components/templates/Button/index.tsx
Labels: 🎨 Style

#70 [ Style ] 홈 뷰 사이드 바 molecule 생성 및 홈 뷰 구현 #62
  src/assets/svgs/bell.svg
  src/assets/svgs/btn_arrow.svg
  src/assets/svgs/btn_today.svg
  src/assets/svgs/connection_icon.svg
  src/assets/svgs/default_profile.svg
  src/assets/svgs/friend_setting.svg
  src/assets/svgs/gear.svg
  src/assets/svgs/gradient_circle.svg
  src/assets/svgs/home_default_icon.svg
  src/assets/svgs/icon_bar.svg
  src/assets/svgs/large_plus.svg
  src/assets/svgs/logo_icon.svg
  src/assets/svgs/more_friend.svg
  src/assets/svgs/selected_number_icon.svg
  src/components/atoms/ArrowSVGBtn/index.tsx
  src/components/atoms/HomeLargeBtn/index.tsx
  src/components/atoms/HomeSideBox/index.tsx
  src/components/atoms/HomeSmallBtn/index.tsx
  src/components/atoms/MoreFriendsBtn/index.tsx
  src/components/atoms/SpaceLogoBtn/index.tsx
  src/components/atoms/TodayTodoBtn/index.tsx
  src/components/atoms/TodayTodoLargeBtn/index.tsx
  src/components/atoms/TodoBox/index.tsx
  src/components/atoms/UserProfile/index.tsx
  src/components/molecules/CategoryBox/CategoryBoxDefaultStatus.tsx
  src/components/molecules/CategoryBox/index.tsx
  src/components/molecules/DatePicker/index.tsx
  src/components/molecules/HomeDefaultStatus/index.tsx
  src/components/molecules/HomeSideBar/index.tsx
  src/components/molecules/TodayTodoBox/TodayTodoBoxAddStatus.tsx
  src/components/molecules/TodayTodoBox/TodayTodoBoxDefaultStatus.tsx
  src/components/molecules/TodayTodoBox/index.tsx
  src/components/templates/HomePageWrapper/index.tsx
  src/constants/btnText.ts
  src/index.css
  src/pages/HomePage/index.tsx
  src/types/global.ts
  src/utils/date/index.ts
Labels: 🎨 Style

#68 [ Style ] 카테고리 추가 뷰 구현
  src/components/atoms/CategoryInput/index.tsx
  src/components/atoms/GetCategoryBtn/index.tsx
  src/components/molecules/CategoryInputMoribName/index.tsx
  src/components/molecules/CategoryMoribSet/index.tsx
  src/components/templates/CategoryModal/index.tsx
  src/pages/HomePage/AddCategoryModal/index.tsx
Labels: 🎨 Style

#63 [ Style ] 타이머 뷰 컴포넌트 조합 및 햄버거 바 온클릭 로직 구현
  src/assets/images/img_timer_bg.png
  src/assets/svgs/btn_hamburger.svg
  src/components/atoms/FriendInfo/index.tsx
  src/components/atoms/ProgressCircle/index.tsx
  src/components/atoms/SideBox/index.tsx
  src/components/molecules/FriendInfoCarousel/index.tsx
  src/components/molecules/Timer/index.tsx
  src/components/molecules/TimerSideBar/index.tsx
  src/components/molecules/TimerTitle/CategoryTitle.tsx
  src/components/molecules/TimerTitle/TodoTitle.tsx
  src/components/molecules/TimerTitle/index.tsx
  src/components/templates/TimerPageTemplates/index.tsx
  src/hooks/useCloseSideBar.ts
  src/hooks/useToggleSideBar.ts
  src/pages/TimerPage/index.tsx
Labels: 🎨 Style

#65 [ Style ] 타이머 뷰 친구 더미 캐러셀 타이머 작동 구현
  src/components/atoms/FriendInfo/index.tsx
  src/components/molecules/FriendInfoCarousel/index.tsx
  src/mocks/userFriendData.ts
Labels: 🎨 Style

#74 [fix] hover 변수 설정하여 공통 컴포넌트 hover 스타일 구현
  src/components/atoms/CategoryMoribContent/index.tsx
  src/components/molecules/CategoryModalLeft/index.tsx
  src/components/molecules/CategoryModalRight/index.tsx
  src/components/templates/AddCategoryListModal/index.tsx
  src/pages/LoginPage/index.tsx
Labels: 🐞 BugFix

#77 [ Fix ] 타이머 뷰 관련 오류 수정
  src/components/atoms/UserProfile/index.tsx
  src/components/molecules/TimerSideBar/index.tsx
Labels: 🐞 BugFix

#78 [ Fix ] 타입에러 수정
  .eslintrc.cjs
  src/components/atoms/CategoryMoribContent/index.tsx
  src/components/atoms/CategoryUrlInput/index.tsx
  src/components/molecules/CategoryModalLeft/index.tsx
  src/components/molecules/CategoryModalRight/index.tsx
  src/components/molecules/CategoryMoribContentSet/index.tsx
  src/components/templates/AddCategoryListModal/index.tsx
Labels: 🐞 BugFix

#82 [ Fix ] 카테고리 생성 공통 컴포넌트 타입 에러 수정
  src/components/atoms/CategoryMoribContent/index.tsx
  src/components/atoms/CategoryMoribContentPage/index.tsx
  src/components/atoms/CategoryMoribContentUrl/index.tsx
  src/components/atoms/CategoryRoutine/index.tsx
  src/components/atoms/CategoryUrlInput/index.tsx
  src/components/molecules/CategoryMoribContentSet/index.tsx
  src/pages/HomePage/AddCategoryModal/index.tsx
Labels: 🐞 BugFix

#80 [ Style ] lottie를 활용하여 로그인 뷰 구현 #71
  package.json
  pnpm-lock.yaml
  src/assets/images/login_background.png
  src/assets/lotties/morib_logo_motion.json
  src/assets/svgs/google_login.svg
  src/components/templates/LoginPageWrapper/index.tsx
  src/hooks/useLottieAnimation.ts
  src/pages/LoginPage/index.tsx
Labels: 🎨 Style

#79 [ Style ] 캘린더 라이브러리 커스텀
  package.json
  pnpm-lock.yaml
  src/assets/svgs/btn_arrow_bgNone.svg
  src/components/atoms/CalendarCustomHeader/index.tsx
  src/components/atoms/CalendarInput/index.tsx
  src/components/atoms/CategoryInput/index.tsx
  src/components/atoms/CategoryRoutine/index.tsx
  src/components/atoms/CategoryUrlInput/index.tsx
  src/components/atoms/GetCategoryBtn/index.tsx
  src/components/molecules/Calendar/index.tsx
  src/components/molecules/Calendar/tailwind-datepicker.css
  src/components/molecules/CategoryInputMoribName/index.tsx
  src/components/molecules/CategoryMoribContentSet/index.tsx
  src/components/molecules/CategoryMoribSet/index.tsx
  src/components/templates/CategoryModal/index.tsx
  src/pages/HomePage/AddCategoryModal/index.tsx
  src/pages/LoginPage/index.tsx
  src/utils/calendar/index.ts
Labels: 🎨 Style, 🐞 BugFix

#86 [ Fix ] 머지 과정에서 누락된 코드 추가
  src/components/atoms/CategoryMoribContent/index.tsx
  src/components/atoms/CategoryMoribContentUrl/index.tsx
  src/components/molecules/CategoryModalLeft/index.tsx
  src/components/molecules/CategoryModalRight/index.tsx
  src/components/molecules/CategoryMoribContentSet/index.tsx
  src/components/templates/AddCategoryListModal/index.tsx
Labels: 🐞 BugFix

#88 [Style] 모달 페이지 연결
  src/components/atoms/CategoryCommonBtn/index.tsx
  src/components/molecules/CategoryModalRight/index.tsx
  src/components/molecules/CategoryMoribSet/index.tsx
  src/components/templates/AddCategoryListModal/index.tsx
Labels: 🎨 Style

#91 [ Feat ] 로그인 뷰 API 함수 구현 및 연결
  src/Router.tsx
  src/apis/auth/axios/index.ts
  src/apis/auth/queries/index.ts
  src/apis/client.ts
  src/apis/user/axios/index.ts
  src/apis/user/queries/index.ts
  src/constants/router.ts
  src/pages/LoginPage/index.tsx
  src/pages/RedirectPage/index.tsx
  src/utils/token/index.ts
Labels: ✨ Feature

#93 [ Style ] 캘린더 토글 및 input창 분리
  src/components/molecules/Calendar/index.tsx
  src/pages/HomePage/AddCategoryModal/index.tsx
Labels: 🎨 Style

#96 [ feat ] 타이머 뷰 사이드 바 내 할 일 카드 리스트 조회 API 연결
  src/apis/timer/axios/index.ts
  src/apis/timer/queries/index.ts
  src/components/atoms/AccumulatedTime/index.tsx
  src/components/atoms/TodoBox/index.tsx
  src/components/molecules/Timer/index.tsx
  src/components/molecules/TimerSideBar/index.tsx
  src/components/molecules/TimerTitle/index.tsx
  src/hooks/useTimerCount.ts
  src/pages/TimerPage/index.tsx
Labels: ✨ Feature

#99 [ Fix ] 타이머 뷰 빌드시 발생하는 오류 해결
  src/components/atoms/TodoBox/index.tsx
  src/components/molecules/CategoryBox/index.tsx
  src/components/molecules/TodayTodoBox/TodayTodoBoxDefaultStatus.tsx
Labels: 🐞 BugFix

#102 [ Feat ] 타이머 뷰 사이드 바 내 할 일 카드 리스트 조회 API 연결 추가 구현
  src/components/molecules/TimerTitle/index.tsx
  src/pages/TimerPage/index.tsx
Labels: ✨ Feature

#103 [ Feat ] 카테고리 생성 API 연결
  src/apis/tasks/axios/index.tsx
  src/apis/tasks/queries/index.tsx
  src/components/atoms/CalendarInput/index.tsx
  src/components/atoms/CategoryCommonBtn/index.tsx
  src/components/molecules/Calendar/index.tsx
  src/pages/HomePage/AddCategoryModal/index.tsx
  src/utils/calendar/index.ts
Labels: ✨ Feature

#106 [ Feat ] url로 탭 이름 가져오기
  src/apis/tasks/axios/index.tsx
  src/apis/tasks/queries/index.tsx
  src/pages/HomePage/AddCategoryModal/index.tsx
Labels: ✨ Feature

#108 [ Feat ] 태스크 상태 변경 API 연결
  src/apis/common/axios/index.ts
  src/apis/common/queries/index.ts
  src/components/atoms/TodoBox/index.tsx
  src/components/molecules/TimerSideBar/index.tsx
  src/pages/TimerPage/index.tsx
  src/types/todoData.ts
  src/utils/timer/index.ts
Labels: ✨ Feature

#111 [ Feat ] 카테고리 모달 뷰 관련 API 연결
  src/apis/modal/axios/index.ts
  src/apis/modal/queries/index.ts
  src/components/atoms/CategoryMoribContentPage/index.tsx
  src/components/atoms/CategoryMoribContentUrl/index.tsx
  src/components/atoms/CategoryUrlInput/index.tsx
  src/components/molecules/CategoryDropdown/index.tsx
  src/components/molecules/CategoryModalLeft/index.tsx
  src/components/molecules/CategoryModalRight/index.tsx
  src/components/molecules/CategoryMoribContentSet/index.tsx
  src/components/templates/AddCategoryListModal/index.tsx
  src/pages/HomePage/AddCategoryModal/index.tsx
Labels: ✨ Feature

#113 [ Fix ] 카테고리 불러오기 모달 로직 연결
  src/apis/tasks/axios/index.tsx
  src/apis/tasks/queries/index.tsx
  src/components/molecules/CategoryModalRight/index.tsx
  src/components/molecules/CategoryMoribSet/index.tsx
  src/components/templates/AddCategoryListModal/index.tsx
  src/pages/HomePage/AddCategoryModal/index.tsx
Labels: 🐞 BugFix

#118 feat: 할일 빠른 생성 API 구현
  src/apis/home/axios/index.ts
  src/apis/home/queries/index.ts
  src/apis/home/types/index.ts
  src/components/atoms/TodoInputBox/index.tsx
  src/components/molecules/CalendarTemporary/index.tsx
  src/components/molecules/CalendarTemporary/tailwind-datepicker.css
  src/components/molecules/CategoryBox/index.tsx
  src/components/molecules/DatePicker/index.tsx
  src/hooks/useCalendar.ts
  src/hooks/useClickOutside.ts
  src/pages/HomePage/index.tsx
Labels: ✨ Feature

#117 [ Fix ] 경고창 에러메시지 및 UI 수정
  src/assets/svgs/description.svg
  src/components/atoms/CategoryInput/index.tsx
  src/components/atoms/CategoryUrlInput/index.tsx
  src/components/molecules/CategoryModalRight/index.tsx
  src/components/molecules/CategoryMoribSet/index.tsx
  src/pages/HomePage/AddCategoryModal/index.tsx
Labels: 🐞 BugFix

#124 [ fix ] style 수정
  src/components/atoms/LoadingUrl/index.tsx
  src/components/molecules/CategoryModalLeft/index.tsx
  src/components/molecules/CategoryModalRight/index.tsx
  src/components/templates/AddCategoryListModal/index.tsx
Labels: 🎨 Style, 🐞 BugFix

#125 [ Feat ] 타이머 정지 액션 API 연결
  src/apis/timer/axios/index.ts
  src/apis/timer/queries/index.ts
  src/components/atoms/AccumulatedTime/index.tsx
  src/components/atoms/FriendInfo/index.tsx
  src/components/molecules/Timer/index.tsx
  src/components/molecules/TimerSideBar/index.tsx
  src/hooks/useCarouselTimer.ts
  src/hooks/useTimerCount.ts
  src/pages/TimerPage/index.tsx
Labels: ✨ Feature

#122 [ Fix ] QA 수정사항
  src/components/atoms/CalendarInput/index.tsx
  src/components/atoms/CategoryInput/index.tsx
  src/components/atoms/GetCategoryBtn/index.tsx
  src/components/molecules/Calendar/tailwind-datepicker.css
  src/components/molecules/CategoryInputMoribName/index.tsx
  src/components/molecules/CategoryModalRight/index.tsx
  src/components/molecules/CategoryMoribSet/index.tsx
  src/components/templates/AddCategoryListModal/index.tsx
  src/pages/HomePage/AddCategoryModal/index.tsx
Labels: 🐞 BugFix

#128 [ Style ] 모달 UX 라이팅 변경에 따른 스타일 수정
  src/apis/tasks/axios/index.tsx
  src/apis/tasks/queries/index.tsx
  src/components/atoms/CategoryInput/index.tsx
  src/components/atoms/CategoryUrlInput/index.tsx
  src/components/molecules/CategoryInputMoribName/index.tsx
  src/components/molecules/CategoryMoribSet/index.tsx
  src/pages/HomePage/AddCategoryModal/index.tsx
Labels: 🎨 Style, 🐞 BugFix

#129 [ Feat ] 특정 태스크의 모립세트 불러오기 API 연결 + 익스텐션 연결
  src/apis/timer/axios/index.ts
  src/apis/timer/queries/index.ts
  src/components/molecules/TimerSideBar/index.tsx
  src/hooks/useUrlHandler.ts
  src/pages/TimerPage/index.tsx
Labels: ✨ Feature

#132 [ Feat ] 할일 추가 후 타이머 시작
  src/apis/home/axios/index.ts
  src/apis/home/queries/index.ts
  src/apis/home/types/index.ts
  src/components/atoms/TodoBox/index.tsx
  src/components/molecules/CategoryBox/index.tsx
  src/components/molecules/TodayTodoBox/TodayTodoBoxDefaultStatus.tsx
  src/components/molecules/TodayTodoBox/index.tsx
  src/hooks/useCalendar.ts
  src/hooks/useCreateTodo.ts
  src/pages/HomePage/index.tsx
  src/types/home/index.tsx
Labels: 🎨 Style

#134 [ Feat ] 배포를 위한 홉 뷰 모달 연결 및 vercel 설정 파일 추가
  index.html
  public/logo_icon.svg
  public/vite.svg
  src/apis/timer/axios/index.ts
  src/apis/timer/queries/index.ts
  src/components/atoms/ProgressCircle/index.tsx
  src/components/molecules/Timer/index.tsx
  src/components/molecules/TimerSideBar/index.tsx
  src/components/molecules/TodayTodoBox/index.tsx
  src/components/templates/AddCategoryListModal/index.tsx
  src/components/templates/CategoryModal/dialog.css
  src/components/templates/CategoryModal/index.tsx
  src/hooks/useUrlHandler.ts
  src/pages/HomePage/AddCategoryModal/index.tsx
  src/pages/HomePage/index.d.ts
  src/pages/HomePage/index.tsx
  src/pages/LoginPage/index.d.ts
  src/pages/TimerPage/index.tsx
  vercel.json
Labels: ✨ Feature

#136 [ Fix ] 김건휘 폴더 이름 이슈 수정 대소문자 구문
  src/components/molecules/TimerSideBox/index.tsx
Labels: 🌏 Deploy, 🐞 BugFix

#138 fix: 김건휘 폴더명 이슈 수정
  src/pages/TimerPage/index.tsx
Labels: 🐞 BugFix

#140 [ Fix ] 김건휘 import 대소문자 이슈 수정
  src/components/molecules/TimerSideBox/index.tsx
  src/components/molecules/TimerSideBoxTemporary/index.tsx
  src/pages/TimerPage/index.tsx
Labels: 🌏 Deploy, 🐞 BugFix

#146 [ Fix ] 이미지만 추가 하고 메타태그에서 이미지 지정하는 코드 주석처리 되어있음
  index.html
Labels: 🐞 BugFix

#148 [ Fix ] 타이머 뷰 타이머 시간 다른 태스크 선택시 시간 더해지는 오류
  src/components/molecules/Timer/index.tsx
  src/components/molecules/TimerSideBar/index.tsx
  src/hooks/useTimerCount.ts
  src/pages/TimerPage/index.tsx
Labels: 🐞 BugFix

#153 [ Fix ] 홈 뷰 QA 반영
  src/components/atoms/DateBtn/index.tsx
  src/components/atoms/TodoBox/index.tsx
  src/components/molecules/CategoryBox/index.tsx
  src/components/molecules/DatePicker/index.tsx
  src/components/molecules/TodayTodoBox/TodayTodoBoxDefaultStatus.tsx
  src/pages/HomePage/index.tsx
Labels: 🐞 BugFix

#154 [ Fix ] 익스텐션 연동 로직 api 에러 수정
  src/apis/timer/queries/index.ts
  src/hooks/useUrlHandler.ts
  src/pages/TimerPage/index.tsx
Labels: 🐞 BugFix

#156 [ Fix ] 1차 QA 타이머뷰 디자인 이슈
  src/components/atoms/FriendInfo/index.tsx
  src/components/molecules/TimerSideBar/index.tsx
Labels: 🐞 BugFix

#158 [ Fix ] 전체 QA 반영
  src/components/atoms/CategoryInput/index.tsx
  src/components/atoms/CategoryModalRightTitle/index.tsx
  src/components/molecules/Calendar/index.tsx
  src/components/molecules/CalendarTemporary/index.tsx
  src/components/molecules/CategoryInputMoribName/index.tsx
  src/components/molecules/CategoryMoribSet/index.tsx
  src/pages/HomePage/AddCategoryModal/index.tsx
  tailwind.config.js
Labels: ✨ Feature, 🎨 Style, 🐞 BugFix

#159 [ Fix ] 전체 QA 반영
  src/components/atoms/CategoryCommonBtn/index.tsx
  src/components/atoms/CategoryMoribContentPage/index.tsx
  src/components/molecules/CategoryDropdown/index.tsx
  src/components/molecules/CategoryModalLeft/index.tsx
  src/components/molecules/CategoryModalRight/index.tsx
  src/components/molecules/CategoryMoribSet/index.tsx
  src/components/templates/AddCategoryListModal/index.tsx
  src/components/templates/CategoryModal/index.tsx
  src/pages/HomePage/AddCategoryModal/index.tsx
Labels: 🐞 BugFix

#162 [ Fix ] 타이머 뷰 1차 QA 반영
  src/components/atoms/TodoBox/index.tsx
  src/components/molecules/Timer/index.tsx
  src/components/molecules/TimerSideBar/index.tsx
  src/mocks/userFriendData.ts
  src/pages/TimerPage/index.tsx
  src/types/todoData.ts
Labels: 🐞 BugFix

#163 [ fix ] 모달 연결 로직 수정
  package.json
  pnpm-lock.yaml
  src/components/molecules/CategoryModalLeft/index.tsx
  src/components/molecules/CategoryModalRight/index.tsx
  src/components/molecules/CategoryMoribSet/index.tsx
  src/components/templates/AddCategoryListModal/index.tsx
  src/pages/HomePage/AddCategoryModal/index.tsx
Labels: 🐞 BugFix

#165 [ fix ] 모립세트 불러오기 오류 해결
  src/pages/HomePage/AddCategoryModal/index.tsx
Labels: 🐞 BugFix
