Repository morib-in/Morib-Client, pull requests merged in 2024-12, with the labels that each got.

#225 [ Style ] 모립세트 컴포넌트 구현
  src/pages/TimerPage/TimerPage.tsx
  src/pages/TimerPage/components/PopoverAllowedService.tsx
  src/pages/TimerPage/components/TitleAllowedService.tsx
  src/pages/TimerPage/components/ToolTipAllowedService.tsx
  src/shared/assets/svgs/btn_home.svg
  src/shared/assets/svgs/btn_moribset_active.svg
  src/shared/assets/svgs/btn_moribset_default.svg
  src/shared/assets/svgs/triangle.svg
  src/shared/constants/allowStieList.ts
Labels: 🎨 Style, size/L

#228 [ Style ] 온보딩 뷰 구현
  package.json
  pnpm-lock.yaml
  src/components/atoms/DateBtn/index.tsx
  src/components/atoms/HomeLargeBtn/index.tsx
  src/components/atoms/HomeSideBox/index.tsx
  src/components/atoms/SpaceLogoBtn/index.tsx
  src/components/templates/HomePageWrapper/index.tsx
  src/components/templates/LoginPageWrapper/index.tsx
  src/index.css
  src/pages/HomePage/HomePage.tsx
  src/pages/HomePage/components/BoxCategory.tsx
  src/pages/HomePage/components/BoxTodayTodo.tsx
  src/pages/HomePage/components/DatePicker.tsx
  src/pages/HomePage/components/ModalContents/index.ts
  src/pages/HomePage/components/SideBarHome.tsx
  src/pages/NotFoundPage/NotFoundPage.tsx
  src/pages/OnboardingPage/OnboardingPage.tsx
  src/pages/OnboardingPage/components/Step/StepField/StepField.tsx
  src/pages/OnboardingPage/components/Step/StepService/StepService.tsx
  src/pages/OnboardingPage/components/Step/StepService/components/BoxAllowedService/BoxAllowedService.tsx
  src/pages/OnboardingPage/components/Step/StepService/components/ButtonService/ButtonService.tsx
  src/pages/OnboardingPage/components/Step/StepService/components/Tabs/Tabs.tsx
  src/pages/OnboardingPage/components/Step/StepService/components/index.ts
  src/pages/OnboardingPage/components/Step/StepStart/StepStart.tsx
  src/pages/OnboardingPage/components/index.ts
  src/pages/OnboardingPage/constants/index.ts
  src/pages/OnboardingPage/hooks/useFunnel.tsx
  src/router/Router.tsx
  src/router/routesConfig.ts
  src/shared/assets/home/svgs/ic_back_btn.svg
  src/shared/assets/home/svgs/ic_color.svg
  src/shared/assets/home/svgs/ic_minus.svg
  src/shared/assets/home/svgs/ic_pencil.svg
  src/shared/assets/home/svgs/ic_service_design.svg
  src/shared/assets/home/svgs/ic_service_design_sm.svg
  src/shared/assets/home/svgs/index.ts
  src/shared/assets/home/svgs/onboarding_image.svg
  src/shared/assets/svgs/icon_bar.svg
  src/shared/layout/Layout.tsx
  src/shared/layout/components/Sidebar/Sidebar.tsx
  src/shared/layout/components/Sidebar/assets/svgs/ic_folder.svg
  src/shared/layout/components/Sidebar/assets/svgs/ic_gear.svg
  src/shared/layout/components/Sidebar/assets/svgs/ic_logo.svg
  src/shared/layout/components/Sidebar/assets/svgs/index.ts
  src/shared/layout/components/Sidebar/components/ModalContents/Setting/ModalContentsSetting.tsx
  src/shared/layout/components/Sidebar/components/ModalContents/Setting/components/AccountContent.tsx
  src/shared/layout/components/Sidebar/components/ModalContents/Setting/components/Tabs.tsx
  src/shared/layout/components/Sidebar/components/ModalContents/Setting/components/WorkspaceSettingContent.tsx
  src/shared/layout/components/Sidebar/components/ModalContents/index.ts
  tailwind.config.js
Labels: ✨ Feature, 🎨 Style, size/XXL

#232 [Refactor] 로그인 페이지 컴포넌트 명 변경 및 불필요한 templates 레거시 코드 삭제
  src/components/templates/LoginPageWrapper/index.tsx
  src/pages/LoginPage/LoginPage.tsx
  src/router/Router.tsx
Labels: ♻️ Refactor, size/S

#233 [Refactor] 타이머 페이지 폴더 구조 변경
  src/components/templates/TimerPageTemplates/index.tsx
  src/pages/TimerPage/Carousel/Carousel.tsx
  src/pages/TimerPage/Carousel/ContainerCarousel/ContainerCarousel.tsx
  src/pages/TimerPage/Carousel/ContainerCarousel/hooks/useCarouselTimer.ts
  src/pages/TimerPage/Carousel/hooks/useFriendInfoCarousel.ts
  src/pages/TimerPage/PopoverAllowedService/PopoverAllowedService.tsx
  src/pages/TimerPage/SideBoxTimer/SideBoxTimer.tsx
  src/pages/TimerPage/SidebarTimer/ButtonSideBar/ButtonSideBar.tsx
  src/pages/TimerPage/SidebarTimer/SideBarTimer.tsx
  src/pages/TimerPage/TItleAllowedService/TitleAllowedService.tsx
  src/pages/TimerPage/TItleAllowedService/TooltipAllowedService/ToolTipAllowedService.tsx
  src/pages/TimerPage/Timer/AccumulatedTime/AccumulatedTime.tsx
  src/pages/TimerPage/Timer/ButtonTimerPlay/ButtonTimerPlay.tsx
  src/pages/TimerPage/Timer/ProgressCircle/ProgressCircle.tsx
  src/pages/TimerPage/Timer/TaskTime/TaskTime.tsx
  src/pages/TimerPage/Timer/Timer.tsx
  src/pages/TimerPage/TimerPage.tsx
  src/pages/TimerPage/components/FaviconSideBox.tsx
  src/pages/TimerPage/components/SideBoxTemporary.tsx
  src/pages/TimerPage/hooks/index.ts
  src/pages/TimerPage/hooks/useSelectedTodo.ts
  src/pages/TimerPage/hooks/useTimerCount.ts
  src/pages/TimerPage/hooks/useToggleSidebar.ts
  src/shared/hooks/useFunnel.ts
Labels: ♻️ Refactor, size/L

#234 [Refactor] 온보딩 페이지 폴더구조 변경
  src/pages/OnboardingPage/OnboardingPage.tsx
  src/pages/OnboardingPage/StepField/StepField.tsx
  src/pages/OnboardingPage/StepService/BoxAllowedService/BoxAllowedService.tsx
  src/pages/OnboardingPage/StepService/ButtonService/ButtonService.tsx
  src/pages/OnboardingPage/StepService/StepService.tsx
  src/pages/OnboardingPage/StepService/Tabs/Tabs.tsx
  src/pages/OnboardingPage/StepStart/StepStart.tsx
  src/pages/OnboardingPage/components/Step/StepService/components/index.ts
  src/pages/OnboardingPage/components/index.ts
Labels: ♻️ Refactor, size/S

#226 [Style] 모립세트 페이지 퍼블리싱
  src/pages/MoribSetPage/AllowedServicePage.tsx
  src/pages/MoribSetPage/components/Box/BoxAllowedServiceItem.tsx
  src/pages/MoribSetPage/components/Box/BoxEachUrlInfo.tsx
  src/pages/MoribSetPage/components/Box/BoxMakeAllowedService.tsx
  src/pages/MoribSetPage/components/Box/BoxRecommendService.tsx
  src/pages/MoribSetPage/components/Box/BoxUrlList.tsx
  src/pages/MoribSetPage/components/Button/ButtonAddAllowedService.tsx
  src/pages/MoribSetPage/components/CategoryAllowedService.tsx
  src/pages/MoribSetPage/components/ColorPallete.tsx
  src/pages/MoribSetPage/components/Input/InputAllowedServiceUrl.tsx
  src/pages/MoribSetPage/components/TableAllowedService.tsx
  src/pages/MoribSetPage/types/index.ts
  src/router/Router.tsx
  src/router/routesConfig.ts
  src/shared/assets/svgs/moribSet.svg
  src/shared/assets/svgs/plus.svg
  src/shared/components/ButtonCategoryTab.tsx
  src/shared/components/CircleColorIcon.tsx
  src/shared/components/Dropdown.tsx
  src/shared/constants/colorPallete.ts
  src/shared/constants/recommendSites.ts
  src/shared/constants/tabSelections.ts
  src/shared/layout/components/Sidebar/Sidebar.tsx
  src/shared/utils/isUrlValid/index.ts
  tailwind.config.js
Labels: 🎨 Style, size/XL

#238 [Refactor] 모립세트 페이지 폴더구조 변경
  src/pages/AllowedServicePage/AllowedServicePage.tsx
  src/pages/AllowedServicePage/BoxMakeAllowedService/BoxMakeAllowedService.tsx
  src/pages/AllowedServicePage/BoxMakeAllowedService/BoxUrlList/BoxEachUrlInfo/BoxEachUrlInfo.tsx
  src/pages/AllowedServicePage/BoxMakeAllowedService/BoxUrlList/BoxUrlList.tsx
  src/pages/AllowedServicePage/BoxMakeAllowedService/ColorPallete/ColorPallete.tsx
  src/pages/AllowedServicePage/BoxMakeAllowedService/InputAllowedServiceUrl/ButtonAddAllowedService/ButtonAddAllowedService.tsx
  src/pages/AllowedServicePage/BoxMakeAllowedService/InputAllowedServiceUrl/InputAllowedServiceUrl.tsx
  src/pages/AllowedServicePage/BoxMakeAllowedService/TableAllowedService/TableAllowedService.tsx
  src/pages/AllowedServicePage/BoxRecommendService/BoxRecommendService.tsx
  src/pages/AllowedServicePage/CategoryAllowedService/BoxAllowedServiceItem/BoxAllowedServiceItem.tsx
  src/pages/AllowedServicePage/CategoryAllowedService/CategoryAllowedService.tsx
  src/pages/AllowedServicePage/types/index.ts
  src/router/Router.tsx
Labels: ♻️ Refactor, size/M
