Repository morib-in/Morib-Client, pull requests merged in 2024-10, with the labels that each got.

#199 [ Fix ] 타이머 정지 액션 발생시 깜빡이는 문제 해결
  src/pages/TimerPage/TimerPage.tsx
  src/pages/TimerPage/components/Timer.tsx
  src/shared/hooks/useTimerCount.ts
Labels: 🐞 BugFix

#202 [ Feat ] 드롭다운 공통 컴포넌트 구현 및 홈 카테고리 버튼에 적용
  src/pages/HomePage/components/DatePicker.tsx
  src/shared/components/Dropdown.tsx
  src/shared/hooks/useDatePicker.ts
Labels: ✨ Feature

#210 [ Feat ] 컴포넌트 별 코드 스플릿팅
  src/pages/HomePage/components/BoxCategory.tsx
  src/pages/HomePage/components/ModalAddCategory.tsx
Labels: ✨ Feature, size/M
