Repository morib-in/Morib-Client, pull requests merged in 2024-09, with the labels that each got.

#190 [ Refactor ] 캘린더 상태 재설계
  src/pages/HomePage/components/BoxCategory.tsx
  src/pages/HomePage/components/BoxTodoInput.tsx
  src/pages/HomePage/components/ModalAddCategory.tsx
  src/shared/components/Calendar.tsx
  src/shared/components/CalendarSelectedDate.tsx
  src/shared/components/CalendarTemporary.tsx
  src/shared/components/HeaderCalendar.tsx
  src/shared/components/calendar-temporary.css
  src/shared/components/calendar.css
  src/shared/constants/weekDays.ts
  src/shared/hooks/useCalendar.ts
  src/shared/utils/calendar/index.ts
Labels: ♻️ Refactor

#189 [ Refactor ] 모달 상태 재설계
  package.json
  pnpm-lock.yaml
  src/pages/HomePage/components/ModalAddCategory.tsx
  src/shared/apis/modal/queries/index.ts
  src/shared/components/AddCategoryListModal.tsx
  src/shared/components/ButtonCategoryCommon.tsx
  src/shared/components/ButtonCategoryDropdown.tsx
  src/shared/components/ButtonGetCategoryRapidly.tsx
  src/shared/components/CategoryCommonMoribSet.tsx
  src/shared/components/CategoryModalLeft.tsx
  src/shared/components/CategoryModalRight.tsx
  src/shared/components/CategoryMoribName.tsx
  src/shared/components/CategoryMoribPageInfo.tsx
  src/shared/components/CategoryMoribSetAdd.tsx
  src/shared/components/CategoryMoribUrlInfo.tsx
  src/shared/components/CategoryMsetUrlInfo.tsx
  src/shared/components/CategoryTabSelect.tsx
  src/shared/components/DropdownCategory.tsx
  src/shared/components/InputCategoryMoribName.tsx
  src/shared/components/InputCategoryUrl.tsx
  src/shared/components/TitleCategory.tsx
  src/shared/components/TitleCategoryCommon.tsx
  src/shared/components/TitleCategoryModalRight.tsx
Labels: ♻️ Refactor

#193 [ Fix ] 오늘 나의 몰입시간(accumulate Time) 2배로 증가하는 버그 해결
  src/pages/TimerPage/TimerPage.tsx
  src/pages/TimerPage/components/AccumulatedTime.tsx
  src/pages/TimerPage/components/SideBarTimer.tsx
  src/pages/TimerPage/components/Timer.tsx
  src/shared/hooks/useUrlHandler.ts
Labels: 🐞 BugFix

#195 [ Fix ] 모달 내 버그 해결 및 리팩토링
  src/pages/HomePage/components/ModalAddCategory.tsx
  src/shared/components/AddCategoryListModal.tsx
  src/shared/components/ButtonCategoryCommon.tsx
  src/shared/components/CategoryModalLeft.tsx
  src/shared/components/CategoryModalRight.tsx
  src/shared/components/InputCategoryUrl.tsx
  src/shared/components/TitleMoribSet.tsx
Labels: 🐞 BugFix, ♻️ Refactor

#196 [ Feat ] ModalWrapper 컴포넌트 구현
  index.html
  src/pages/HomePage/HomePage.tsx
  src/pages/HomePage/components/ModalAddCategory.tsx
  src/shared/components/AddCategoryListModal.tsx
  src/shared/components/ModalCategory.tsx
  src/shared/components/ModalWrapper.tsx
  src/shared/components/dialog.css
Labels: ✨ Feature
