Repository morib-in/Morib-Client, pull requests merged in 2024-11, with the labels that each got.

#213 [Feat] 페이지 코드 스플릿팅
  src/pages/HomePage/components/StatusAddBoxTodayTodo.tsx
  src/pages/LoginPage/index.tsx
  src/pages/TimerPage/components/SideBarTimer.tsx
  src/router/Router.tsx
Labels: ✨ Feature, size/M

#216 [ Style ] 설정 컴포넌트 구현
  src/pages/HomePage/components/SideBarHome.tsx
  src/pages/HomePage/components/modalContent/Setting/ModalContentSetting.tsx
  src/pages/HomePage/components/modalContent/Setting/components/AccountContent.tsx
  src/pages/HomePage/components/modalContent/Setting/components/Tabs.tsx
  src/pages/HomePage/components/modalContent/Setting/components/WorkspaceSettingContent.tsx
  src/shared/assets/svgs/arrow_right.svg
  src/shared/assets/svgs/mail.svg
  src/shared/assets/svgs/setting.svg
  src/shared/assets/svgs/user_circle.svg
  src/shared/components/ButtonSettingSaved.tsx
Labels: 🎨 Style, size/L

#217 [Style] 친구 모달 및 모달 내 컴포넌트 구현
  src/pages/HomePage/HomePage.tsx
  src/pages/HomePage/components/ModalContents/Category/ModalContentsCategory.tsx
  src/pages/HomePage/components/ModalContents/Friends/ModalContentsFriends.tsx
  src/pages/HomePage/components/ModalContents/Friends/components/FriendsList/FriendsList.tsx
  src/pages/HomePage/components/ModalContents/Friends/components/FriendsList/components/FriendInfo.tsx
  src/pages/HomePage/components/ModalContents/Friends/components/FriendsRequest/FriendsRequest.tsx
  src/pages/HomePage/components/ModalContents/Friends/components/FriendsRequest/components/ButtonRequestAction.tsx
  src/pages/HomePage/components/ModalContents/Friends/components/FriendsRequest/components/FriendsListRequested.tsx
  src/pages/HomePage/components/ModalContents/Friends/components/FriendsRequest/components/InputSendRequest.tsx
  src/pages/HomePage/components/ModalContents/Setting/ModalContentsSetting.tsx
  src/pages/HomePage/components/ModalContents/Setting/components/AccountContent.tsx
  src/pages/HomePage/components/ModalContents/Setting/components/Tabs.tsx
  src/pages/HomePage/components/ModalContents/Setting/components/WorkspaceSettingContent.tsx
  src/pages/HomePage/components/ModalContents/index.ts
  src/pages/HomePage/components/SideBarHome.tsx
  src/pages/TimerPage/components/Carousel.tsx
  src/shared/assets/svgs/btn_inputClear.svg
  src/shared/assets/svgs/button_inputSuccess.svg
  src/shared/assets/svgs/error_input.svg
  src/shared/assets/svgs/friend_delBtn.svg
  src/shared/assets/svgs/header_delBtn.svg
  src/shared/components/Dropdown.tsx
  src/shared/components/ModalContents/ButtonSendRequest.tsx
  src/shared/components/ModalContents/FriendUserProfile.tsx
  src/shared/constants/emailRegex.ts
  src/shared/mocks/userFriendData.ts
  src/shared/utils/time/index.ts
Labels: 🎨 Style, size/XL

#221 [ Feat ] 타이머 페이지 사이드바 동작 개선 및 반응형 적용
  src/components/templates/HomePageWrapper/index.tsx
  src/components/templates/LoginPageWrapper/index.tsx
  src/components/templates/TimerPageTemplates/index.tsx
  src/pages/HomePage/HomePage.tsx
  src/pages/TimerPage/TimerPage.tsx
  src/pages/TimerPage/components/SideBarTimer.tsx
  src/pages/TimerPage/components/SideBoxTemporary.tsx
  src/pages/TimerPage/components/SideBoxTimer.tsx
  src/pages/TimerPage/components/Timer.tsx
  tailwind.config.js
Labels: ✨ Feature, size/M
