Repository morib-in/Morib-Client, pull requests merged in 2025-03, with the labels that each got.

#278 [ QA ] QA를 위한 임시 배포
  src/pages/AllowedServicePage/AllowedServiceGroupDetail/Content/AllowedServiceGroupDetailContent.tsx
  src/pages/AllowedServicePage/AllowedServiceList/AllowedServiceList.tsx
  src/pages/AllowedServicePage/AllowedServicePage.tsx
  src/pages/HomePage/HomePage.tsx
  src/pages/OnboardingPage/StepField/StepField.tsx
  src/pages/OnboardingPage/StepService/AllowedServices/AllowedServices.tsx
  src/pages/OnboardingPage/StepService/ButtonService/ButtonService.tsx
  src/pages/OnboardingPage/StepService/StepService.tsx
  src/pages/OnboardingPage/StepStart/StepStart.tsx
  src/shared/apisV2/allowedService/allowedService.mutations.ts
  src/shared/apisV2/common/common.api.ts
  src/shared/apisV2/common/common.mutations.ts
  src/shared/constants/suggestedSites.ts
  src/shared/types/allowedSites.ts
  src/shared/types/api/allowedService.ts
  src/shared/types/api/common.ts
  src/shared/types/api/onboarding.ts
Labels: size/L

#280 [ Feat ] 에러 트래킹을 위한 sentry 적용
  package.json
  pnpm-lock.yaml
  src/main.tsx
  src/router/ProtectedRoute.tsx
  src/router/Router.tsx
  src/shared/apisV2/client.ts
  src/shared/apisV2/queryClient.ts
  src/shared/components/ErrorBoundary/ApiErrorBoundary.tsx
  src/shared/components/ErrorBoundary/ErrorBoundary.tsx
  src/shared/components/ErrorBoundary/GlobalErrorBoundary.tsx
  src/shared/components/FallbackApiError/FallbackApiError.tsx
  src/shared/types/api/error.ts
  src/shared/utils/error.ts
  src/shared/utils/getErrorMessage.ts
  src/vite-env.d.ts
Labels: ✨ Feature, size/L

#282 [ Feat ] 온보딩 페이지 공통 QA를 반영합니다.
  src/pages/OnboardingPage/ButtonSkip/ButtonSkip.tsx
  src/pages/OnboardingPage/StepField/StepField.tsx
  src/pages/OnboardingPage/StepService/AllowedServices/AllowedServices.tsx
  src/pages/OnboardingPage/StepService/ButtonService/ButtonService.tsx
  src/pages/OnboardingPage/StepService/StepService.tsx
  src/pages/OnboardingPage/StepService/Tabs/Tabs.tsx
  src/pages/OnboardingPage/StepStart/StepStart.tsx
  src/shared/assets/svgs/onboarding/ic_business.svg
  src/shared/assets/svgs/onboarding/ic_design.svg
  src/shared/assets/svgs/onboarding/ic_development.svg
  src/shared/assets/svgs/onboarding/ic_marketing.svg
  src/shared/assets/svgs/onboarding/ic_planning.svg
  src/shared/assets/svgs/onboarding/ic_studying.svg
  src/shared/constants/fields.ts
  tailwind.config.js
Labels: size/L

#284 [ QA ] 홈페이지 상단 월과 드랍다운 화살표 사이 간격 수정합니다
  src/pages/HomePage/DatePicker/ButtonDate/ButtonDate.tsx
  src/pages/HomePage/DatePicker/DatePicker.tsx
Labels: 🎨 Style, size/XS

#286 [ QA ] 온보딩 뷰 StepService QA 사항을 반영합니다.
  src/pages/OnboardingPage/StepService/AllowedServices/AllowedServices.tsx
  src/pages/OnboardingPage/StepService/ButtonService/ButtonService.tsx
  src/pages/OnboardingPage/StepService/StepService.tsx
  src/shared/apisV2/onboarding/onboarding.mutations.ts
  src/shared/assets/svgs/ic_minus.svg
  src/shared/components/TextField/TextField.tsx
  src/shared/constants/suggestedSites.ts
Labels: 🐞 BugFix, size/M

#287 [ QA ] 홈 카테고리 로직을 수정합니다
  src/pages/HomePage/BoxAddCategory/BoxAddCategory.tsx
  src/pages/HomePage/BoxCategory/BoxTodoInput/BoxTodoInput.tsx
  src/pages/HomePage/HomePage.tsx
Labels: ♻️ Refactor, size/S

#288 [ QA ] 홈 캘린더 로직을 수정합니다
  src/pages/HomePage/BoxCategory/BoxCategory.tsx
  src/shared/components/Calendar/Calendar.tsx
Labels: ♻️ Refactor, size/M

#289 [ QA ] 온보딩 페이지 타이틀 컬러 변경 기능을 추가합니다.
  src/pages/AllowedServicePage/AllowedServiceGroupDetail/Header/AllowedServiceGroupDetailHeader.tsx
  src/pages/AllowedServicePage/AllowedServiceList/AllowedServiceList.tsx
  src/pages/AllowedServicePage/AllowedServicePage.tsx
  src/pages/OnboardingPage/StepService/AllowedServices/AllowedServices.tsx
  src/pages/OnboardingPage/StepService/StepService.tsx
  src/shared/assets/svgs/ic_color.svg
  src/shared/components/ColorPallete/ColorPallete.tsx
  src/shared/types/api/allowedService.ts
Labels: ✨ Feature, size/L

#290 [ QA ] 카테고리 이름 수정 api를 연결합니다.
  src/pages/HomePage/BoxCategory/BoxCategory.tsx
  src/pages/HomePage/HomePage.tsx
  src/shared/apisV2/home/home.api.ts
  src/shared/apisV2/home/home.mutations.ts
  src/shared/types/api/home.ts
Labels: ✨ Feature, size/M

#291 [ QA ] 타이머 페이지 선택된 할일이 첫번째 할일로 초기화 되는 오류를 수정합니다.
  src/pages/TimerPage/TimerPage.tsx
Labels: 🐞 BugFix, size/XS

#295 [ HOTFIX ] sse endpoint 수정
  src/pages/TimerPage/TimerPage.tsx
  src/shared/apisV2/SSE/SSE.endpoint.ts
Labels: size/S

#293 [ QA ] 홈 페이지 QA사항 반영합니다.
  src/pages/HomePage/BoxCategory/BoxCategory.tsx
  src/pages/HomePage/DatePicker/DatePicker.tsx
  src/pages/HomePage/DatePicker/hooks/useDatePicker.ts
  src/pages/HomePage/HomePage.tsx
  src/shared/components/BoxTodo/BoxTodo.tsx
  src/shared/components/ButtonTodayToggle/ButtonTodoToggle.tsx
  tailwind.config.js
Labels: ♻️ Refactor, size/L

#294 [ QA ] 온보딩 페이지 2차 QA사항 반영합니다.
  src/pages/OnboardingPage/StepService/StepService.tsx
  src/pages/OnboardingPage/StepService/Tabs/Tabs.tsx
  src/pages/OnboardingPage/StepStart/StepStart.tsx
  src/shared/constants/suggestedSites.ts
  src/shared/utils/validation.ts
  tailwind.config.js
Labels: 🐞 BugFix, size/M

#297 [ Feat ] 태스크 이름 및 날짜 수정 api를 연결합니다.
  src/pages/HomePage/BoxCategory/BoxCategory.tsx
  src/pages/HomePage/HomePage.tsx
  src/shared/apisV2/home/home.api.ts
  src/shared/apisV2/home/home.mutations.ts
  src/shared/components/BoxTodo/BoxTodo.tsx
  src/shared/components/Calendar/Calendar.tsx
  src/shared/types/api/home.ts
Labels: ✨ Feature, size/L

#299 [ QA ] 허용서비스 2차 QA 반영
  src/pages/AllowedServicePage/AllowedServicePage.tsx
  src/pages/AllowedServicePage/RecommendService/RecommendService.tsx
Labels: 🐞 BugFix, size/M
