Repository morib-in/Morib-Client, pull requests merged in 2025-08, with the labels that each got.

#327 [ Feat ] 로그인 상태 유지할 수 있도록 일렉트론 메인프로세스 로직 수정
  package.json
  src/app/pages/LoginPage/LoginPage.tsx
  src/app/router/ProtectedRoute.tsx
  src/app/router/Router.tsx
  src/app/shared/apisV2/setting/setting.mutations.ts
  src/app/shared/assets/lotties/main_motion.json
  src/app/shared/config/auth.ts
  src/app/shared/hooks/useLogout.ts
  src/app/shared/layout/Sidebar/ModalContentsSetting/AccountContent/AccountContent.tsx
  src/app/shared/utils/auth.ts
  src/electron/contants/protocol.ts
  src/electron/main.ts
  src/electron/monitor/browser.ts
  src/electron/notification/mac.ts
  src/electron/window/key.ts
  src/electron/window/os.ts
  src/electron/window/resolution.ts
  vite.config.ts
Labels: size/XL

#325 [Refactor] 오버레이 컴포넌트 재설계
  package.json
  pnpm-lock.yaml
  src/app/App.tsx
  src/app/pages/AllowedServicePage/AllowedServiceGroupDetail/Content/AllowedServiceGroupDetailContent.tsx
  src/app/pages/AllowedServicePage/AllowedServicePage.tsx
  src/app/pages/HomePage/BoxTodayTodo/StatusAddBoxTodayTodo/StatusAddBoxTodayTodo.tsx
  src/app/pages/HomePage/HomePage.tsx
  src/app/pages/TimerPage/Carousel/Carousel.tsx
  src/app/router/Router.tsx
  src/app/shared/components/ModalWrapper/ModalWrapper.tsx
  src/app/shared/components/ModalWrapper/styles/dialog.css
  src/app/shared/layout/Sidebar/ModalContentsSetting/AccountContent/AccountContent.tsx
  src/app/shared/layout/Sidebar/Sidebar.tsx
  src/app/shared/utils/overlay.tsx
Labels: ♻️ Refactor, size/XL

#329 [ Feat ] 모립 auth 페이지에 로그인 위임 작업
  .husky/post-checkout
  package.json
  pnpm-lock.yaml
  public/logo.svg
  public/timer.svg
  src/app/index.css
  src/app/pages/LoginPage/LoginPage.tsx
  src/app/pages/LoginPage/hooks/useLottieAnimation.ts
  src/app/router/ProtectedRoute.tsx
  src/app/shared/assets/lotties/main_motion.json
  src/app/shared/assets/lotties/morib_logo_motion.json
  src/app/shared/config/auth.ts
  src/app/vite-env.d.ts
  tailwind.config.js
Labels: size/XL

#331 [ Feat ] 로그인 리다이렉션 url에 쿼리스트링 추가
  src/app/pages/LoginPage/LoginPage.tsx
  src/app/shared/config/auth.ts
Labels: size/XS

#333 [ HOTFIX ] 일렉트론 로그아웃 후 리다이렉트 로직 수정
  src/app/pages/LoginPage/LoginPage.tsx
  src/app/shared/apisV2/client.ts
  src/app/shared/apisV2/setting/setting.mutations.ts
  src/app/shared/assets/svgs/login/ic_login_timer.svg
  src/app/shared/assets/svgs/login/ic_logo.svg
  src/app/shared/config/auth.ts
  src/app/shared/hooks/useLogout.ts
  src/app/shared/layout/Sidebar/ModalContentsSetting/AccountContent/AccountContent.tsx
  src/app/shared/utils/auth.ts
Labels: size/M
