Repository morib-in/Morib-Client, pull requests merged in 2025-04, with the labels that each got.

#301 [ QA ] polling 함수 추가 및 주기를 설정합니다.
  src/pages/TimerPage/TimerPage.tsx
  src/shared/apisV2/common/common.queries.ts
  src/shared/apisV2/timer/timer.api.ts
  src/shared/apisV2/timer/timer.keys.ts
  src/shared/apisV2/timer/timer.mutations.ts
  src/shared/apisV2/timer/timer.queries.ts
  src/shared/types/api/timer.ts
Labels: ✨ Feature, size/M

#303 [ QA ] home페이지 3차 QA 반영합니다.
  src/pages/HomePage/BoxCategory/BoxCategory.tsx
  src/pages/HomePage/BoxTodayTodo/StatusDefaultBoxTodayTodo/StatusDefaultBoxTodayTodo.tsx
  src/pages/HomePage/HomePage.tsx
  src/pages/OnboardingPage/StepStart/StepStart.tsx
  src/shared/components/BoxTodo/BoxTodo.tsx
Labels: size/S

#302 [ QA ] 온보딩 페이지 3차 QA사항 반영합니다.
  src/pages/OnboardingPage/ButtonSkip/ButtonSkip.tsx
  src/pages/OnboardingPage/StepField/StepField.tsx
  src/pages/OnboardingPage/StepService/ButtonService/ButtonService.tsx
  src/pages/OnboardingPage/StepService/StepService.tsx
Labels: ♻️ Refactor, size/M

#304 [ QA ] Polling 로직을 변경합니다.
  package.json
  src/pages/HomePage/BoxTodayTodo/StatusAddBoxTodayTodo/StatusAddBoxTodayTodo.tsx
  src/pages/HomePage/HomePage.tsx
  src/pages/TimerPage/TimerPage.tsx
  src/pages/TimerPage/hooks/useTimerCount.ts
  src/shared/apisV2/timer/timer.queries.ts
  src/shared/stores/atoms/todayTodoAtom.ts
Labels: size/M

#306 [ QA ] 허용서비스 3차 qa를 반영합니다.
  src/pages/AllowedServicePage/AllowedServiceGroupDetail/Header/AllowedServiceGroupDetailHeader.tsx
  src/pages/AllowedServicePage/AllowedServicePage.tsx
Labels: size/XS

#305 [ QA ] home페이지 3차 QA 반영합니다.
  src/pages/HomePage/BoxAddCategory/BoxAddCategory.tsx
  src/pages/HomePage/BoxCategory/BoxCategory.tsx
  src/pages/HomePage/DatePicker/DatePicker.tsx
  src/shared/components/BoxTodo/BoxTodo.tsx
Labels: size/L

#309 [ QA ] home페이지 최종 QA 반영합니다.
  src/pages/HomePage/BoxCategory/BoxCategory.tsx
  src/pages/HomePage/BoxCategory/StatusDefaultBoxCategory/StatusDefaultBoxCategory.tsx
  src/pages/HomePage/BoxTodayTodo/StatusAddBoxTodayTodo/StatusAddBoxTodayTodo.tsx
  src/pages/HomePage/BoxTodayTodo/StatusDefaultBoxTodayTodo/StatusDefaultBoxTodayTodo.tsx
  src/pages/HomePage/DatePicker/DatePicker.tsx
  src/shared/assets/svgs/btn_cal_black.svg
  src/shared/components/BoxTodo/BoxTodo.tsx
  src/shared/components/Dropdown/Dropdown.tsx
Labels: ♻️ Refactor, size/L

#307 [ QA ] 허용서비스 3차 QA를 반영합니다.
  src/pages/AllowedServicePage/AllowedServicePage.tsx
Labels: size/S

#310 [ Feat ] 타이머 새롭게 개선된 API를 연동합니다
  .github/workflows/pr-build-check.yml
  package.json
  src/pages/AllowedServicePage/AllowedServiceGroupDetail/Content/AllowedServiceGroupDetailContent.tsx
  src/pages/TimerPage/AllowedServices/AllowedServicesItem.tsx
  src/pages/TimerPage/AllowedServices/AllowedServicesPopover.tsx
  src/pages/TimerPage/AllowedServices/AllowedServicesTitle.tsx
  src/pages/TimerPage/AllowedServices/AllowedServicesTooltip.tsx
  src/pages/TimerPage/AllowedServices/Checkbox.tsx
  src/pages/TimerPage/Carousel/Carousel.tsx
  src/pages/TimerPage/Carousel/CarouselFriend.tsx
  src/pages/TimerPage/Carousel/ContainerCarousel/ContainerCarousel.tsx
  src/pages/TimerPage/Carousel/ContainerCarousel/hooks/useCarouselTimer.ts
  src/pages/TimerPage/MainTimer/MainTimer.tsx
  src/pages/TimerPage/MainTimer/TimerDisplay/ButtonTimerPlay/ButtonTimerPlay.tsx
  src/pages/TimerPage/MainTimer/TimerDisplay/ProgressCircle/ProgressCircle.tsx
  src/pages/TimerPage/MainTimer/TimerDisplay/TimerDisplay.tsx
  src/pages/TimerPage/MainTimer/TimerHeader/TimerHeader.tsx
  src/pages/TimerPage/NavigationButtons/NavigationButtons.tsx
  src/pages/TimerPage/PopoverAllowedService/PopoverAllowedService.tsx
  src/pages/TimerPage/SideMenuTimer/SideMenuTimer.tsx
  src/pages/TimerPage/SidebarTimer/SideBarTimer.tsx
  src/pages/TimerPage/Timer/Timer.tsx
  src/pages/TimerPage/TimerPage.tsx
  src/pages/TimerPage/contexts/TimerContext.tsx
  src/pages/TimerPage/hooks/useAllowedServices.ts
  src/pages/TimerPage/hooks/useTimerActions.ts
  src/pages/TimerPage/hooks/useTimerCount.ts
  src/pages/TimerPage/hooks/useTimerState.ts
  src/pages/TimerPage/hooks/useToggleSidebar.ts
  src/pages/TimerPage/hooks/useUIState.ts
  src/pages/TimerPage/hooks/useUrlHandler.ts
  src/pages/TimerPage/utils/timeFormat.ts
  src/shared/apisV2/timer/timer.api.ts
  src/shared/apisV2/timer/timer.keys.ts
  src/shared/apisV2/timer/timer.mutations.ts
  src/shared/apisV2/timer/timer.queries.ts
  src/shared/components/BoxTodo/BoxTodo.tsx
  src/shared/types/api/timer.ts
Labels: ✨ Feature, ♻️ Refactor, size/XXL

#311 [ QA ] home페이지 qa 반영합니다.
  src/pages/HomePage/BoxCategory/BoxCategory.tsx
  src/pages/HomePage/ButtonUserProfile/ButtonUserProfile.tsx
  src/pages/HomePage/HomePage.tsx
  src/pages/HomePage/TooltipFriendInfo/TooltipFriendInfo.tsx
  src/shared/assets/svgs/ic_line.svg
  src/shared/assets/svgs/popover_add_category.svg
  src/shared/assets/svgs/popover_add_todo.svg
  src/shared/assets/svgs/tooltip_triangle.svg
  src/shared/components/BoxTodo/BoxTodo.tsx
  src/shared/components/NotificationPanel/NotificationPanel.tsx
  src/shared/hooks/useClickOutside.ts
Labels: ✨ Feature, size/L

#312 [ QA ] 타이머 홈으로가기, 온보딩 완료 flag 로직을 수정합니다.
  .gitignore
  src/pages/LoginPage/LoginPage.tsx
  src/pages/OnboardingPage/ButtonSkip/ButtonSkip.tsx
  src/pages/OnboardingPage/OnboardingPage.tsx
  src/pages/RedirectPage/RedirectPage.tsx
  src/pages/TimerPage/SideMenuTimer/SideMenuTimer.tsx
  src/shared/apisV2/onboarding/onboarding.mutations.ts
  src/shared/components/BoxTodo/BoxTodo.tsx
Labels: size/M
