Repository morib-in/Morib-Client, pull requests merged in 2025-05, with the labels that each got.

#313 [QA] 허용서비스 QA 반영, 허용 서비스 세트 추천 사이트 조회 api를 연결합니다.
  src/pages/AllowedServicePage/AllowedServiceGroupDetail/Content/AllowedServiceGroupDetailContent.tsx
  src/pages/AllowedServicePage/AllowedServiceList/AllowedServiceList.tsx
  src/pages/AllowedServicePage/AllowedServicePage.tsx
  src/shared/apisV2/allowedService/allowedService.api.ts
  src/shared/apisV2/allowedService/allowedService.keys.ts
  src/shared/apisV2/allowedService/allowedService.queries.ts
  src/shared/components/FaviconImage/FaviconImage.tsx
  src/shared/types/api/allowedService.ts
Labels: ✨ Feature, 🐞 BugFix, size/M

#315 [QA] 홈·타이머페이지 QA 반영, 친구리스트 로직을 수정합니다.
  src/pages/HomePage/BoxTodayTodo/StatusAddBoxTodayTodo/StatusAddBoxTodayTodo.tsx
  src/pages/HomePage/ButtonMoreFriends/ButtonMoreFriends.tsx
  src/pages/HomePage/HomePage.tsx
  src/pages/HomePage/ModalContentsAlert/ButtonAlert/ButtonAlert.tsx
  src/pages/HomePage/ModalContentsAlert/RegisterAllowedService/RegisterAllowedService.tsx
  src/pages/HomePage/ModalContentsAlert/TimerRestriction/TimerRestriction.tsx
  src/pages/HomePage/TooltipFriendInfo/TooltipFriendInfo.tsx
  src/pages/TimerPage/Carousel/CarouselFriend.tsx
  src/pages/TimerPage/MainTimer/TimerHeader/TimerHeader.tsx
  src/shared/components/BoxTodo/BoxTodo.tsx
  src/shared/components/ModalContentsFriends/FriendsList/FriendsInfo/FriendInfo.tsx
  src/shared/layout/Sidebar/Sidebar.tsx
Labels: ♻️ Refactor, size/L

#316 [ QA ] refresh token 쿼리 스트링 파싱 방식으로 변경
  src/pages/RedirectPage/RedirectPage.tsx
  src/shared/apisV2/client.ts
  src/shared/utils/auth.ts
Labels: size/S

#319 [ 최종 QA ]: 허용서비스 페이지 최종 QA를 진행합니다.
  src/pages/AllowedServicePage/AllowedServiceGroupDetail/Content/AllowedServiceGroupDetailContent.tsx
  src/pages/AllowedServicePage/AllowedServiceList/AllowedServiceList.tsx
  src/pages/AllowedServicePage/AllowedServicePage.tsx
  src/pages/AllowedServicePage/ModalContentsAlert/ModalContentsAlert.tsx
  src/pages/AllowedServicePage/RecommendService/RecommendService.tsx
  src/shared/apisV2/allowedService/allowedService.api.ts
  src/shared/apisV2/allowedService/allowedService.mutations.ts
  src/shared/assets/svgs/default_url_favicon.svg
  src/shared/components/Dropdown/Dropdown.tsx
  src/shared/components/FaviconImage/FaviconImage.tsx
  src/shared/types/api/allowedService.ts
Labels: 🐞 BugFix, ♻️ Refactor, size/L

#320 [ 최종 QA ]: 온보딩 페이지 최종 QA를 진행합니다.
  src/pages/OnboardingPage/StepService/AllowedServices/AllowedServices.tsx
  src/pages/OnboardingPage/StepService/StepService.tsx
  src/shared/apisV2/onboarding/onboarding.api.ts
  src/shared/apisV2/onboarding/onboarding.keys.ts
  src/shared/apisV2/onboarding/onboarding.queries.ts
  src/shared/constants/suggestedSites.ts
  src/shared/layout/Sidebar/Sidebar.tsx
  src/shared/types/api/onboarding.ts
  src/shared/types/fileds.ts
  src/shared/utils/validation.ts
Labels: ✨ Feature, 🐞 BugFix, ♻️ Refactor, size/L

#321 [ QA ] 홈, 타이머 페이지 최종 QA를 진행합니다.
  src/pages/AllowedServicePage/AllowedServicePage.tsx
  src/pages/HomePage/BoxCategory/BoxCategory.tsx
  src/pages/HomePage/BoxTodayTodo/BoxTodayTodo.tsx
  src/pages/HomePage/BoxTodayTodo/StatusAddBoxTodayTodo/StatusAddBoxTodayTodo.tsx
  src/pages/HomePage/BoxTodayTodo/StatusDefaultBoxTodayTodo/StatusDefaultBoxTodayTodo.tsx
  src/pages/HomePage/HomePage.tsx
  src/pages/TimerPage/Carousel/CarouselFriend.tsx
  src/pages/TimerPage/MainTimer/MainTimer.tsx
  src/pages/TimerPage/MainTimer/TimerDisplay/ButtonTimerPlay/ButtonTimerPlay.tsx
  src/pages/TimerPage/MainTimer/TimerDisplay/TimerDisplay.tsx
  src/pages/TimerPage/MainTimer/TimerHeader/TimerHeader.tsx
  src/pages/TimerPage/SideMenuTimer/SideMenuTimer.tsx
  src/shared/components/BoxTodo/BoxTodo.tsx
  src/shared/components/ModalContentsFriends/FriendsList/FriendsInfo/FriendInfo.tsx
  src/shared/components/NotificationPanel/NotificationPanel.tsx
  src/shared/layout/Sidebar/ModalContentsSetting/AccountContent/AccountContent.tsx
  src/shared/layout/Sidebar/ModalContentsSetting/Tabs/Tabs.tsx
Labels: 🐞 BugFix, ♻️ Refactor, size/L
